<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @driver.dob %>
</p>

<p>
  <strong>Licence class:</strong>
  <%= @driver.licence_class %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @driver.issue_date %>
</p>

<p>
  <strong>Licence number:</strong>
  <%= @driver.licence_number %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @driver.vehicles.first.make %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
